<%= render 'signup_mailer/signup_header' %>

<td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;"
align="left" valign="top">
  <h3 style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 1.3; word-break: normal; font-size: 40px; margin: 0; padding: 0;" align="left">
      Hi, <%= @first %>!
  </h3>
  <p class="lead" style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 21px; font-size: 18px; margin: 0 0 10px; padding: 0;" align="left">
      The League Manager of <%=@league%> has added you to their league!
  </p>
  <p class="lead" style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 21px; font-size: 18px; margin: 0 0 10px; padding: 0;" align="left">
      You can use your existing EZ Sports account to login. As a reminder, you signed up with this email address.
  </p>
  <p class="lead" style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 21px; font-size: 18px; margin: 0 0 10px; padding: 0;" align="left">
      Once the league manager has assigned you a team, you will be able to see your schedule and see any messages you have from your coach.
  </p>
  <p class="lead" style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 21px; font-size: 18px; margin: 0 0 10px; padding: 0;" align="left">
      If you have any questions, please check out our website at <a href="https://www.ez4mysports.com" style="text-decoration: none;">www.ez4mysports.com</a>,
      or feel free to contact us at <a href="mailto:support@ez4mysports.com">support@ez4mysports.com</a>. Thanks for being a part of EZ Sports!
  </p>
</td>

<%= render 'signup_mailer/signup_footer' %>
